<main class="cnx-banner-container">
    <p>Faça<br />parte da<br /><strong>transformação!</strong></p>
    <a href="{{ host }}register/volunteer" class="btn">Voluntarie-se</a>
</main>
<section class="cnx-section-timeline">
    <div class="container">
        <h1 class="cnx-section-title">Últimas Ações</h1>
        <div class="row">
            <div class="col-4">
                <div class="cnx-section-card card">
                    <div class="card-body">
                        <h5 class="card-title">Doação de materiais</h5>
                        <h6 class="card-subtitle text-muted mb-2">Doação</h6>
                        <p class="card-text">A descrição da ação vai aqui.</p>
                        <span class="text-muted">21/03/2021</span>
                        <a href="{{ host }}login" class="btn">Contribuir</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cnx-section-card card">
                    <div class="card-body">
                        <h5 class="card-title">Doação de materiais</h5>
                        <h6 class="card-subtitle text-muted mb-2">Doação</h6>
                        <p class="card-text">A descrição da ação vai aqui.</p>
                        <span class="text-muted">21/03/2021</span>
                        <a href="{{ host }}login" class="btn">Contribuir</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cnx-section-card card">
                    <div class="card-body">
                        <h5 class="card-title">Doação de materiais</h5>
                        <h6 class="card-subtitle text-muted mb-2">Doação</h6>
                        <p class="card-text">A descrição da ação vai aqui.</p>
                        <span class="text-muted">21/03/2021</span>
                        <a href="{{ host }}login" class="btn">Contribuir</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cnx-section-card card">
                    <div class="card-body">
                        <h5 class="card-title">Doação de materiais</h5>
                        <h6 class="card-subtitle text-muted mb-2">Doação</h6>
                        <p class="card-text">A descrição da ação vai aqui.</p>
                        <span class="text-muted">21/03/2021</span>
                        <a href="{{ host }}login" class="btn">Contribuir</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cnx-section-card card">
                    <div class="card-body">
                        <h5 class="card-title">Doação de materiais</h5>
                        <h6 class="card-subtitle text-muted mb-2">Doação</h6>
                        <p class="card-text">A descrição da ação vai aqui.</p>
                        <span class="text-muted">21/03/2021</span>
                        <a href="{{ host }}login" class="btn">Contribuir</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="cnx-section-card card">
                    <div class="card-body">
                        <span class="text-muted mb-2">Doação</span>
                        <span class="text-muted mb-2 float-end">Olinda, PE</span>
                        <h5 class="card-title mt-2">Doação de materiais</h5>
                        <h6 class="card-subtitle text-muted mb-2">Infil</h6>
                        <p class="card-text">A descrição da ação vai aqui.</p>
                        <span class="text-muted">21/03/2021</span>
                        <a href="{{ host }}login" class="btn">Contribuir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{{ host }}assets/scripts/timeline.js"></script>
<script>
    loadActions()
</script>