<main class="cnx-page-login min-vh-100 d-flex align-items-center">
    <div class="cnx-login-container container">
        <div class="row">
            <div class="text-center">
                <a href="{{ host }}">
                    <img src="{{ host }}assets/images/brand.png" alt="Logo" class="img-fluid" />
                </a>
            </div>
            <form>
                <div class="mb-4">
                    <input name="user" class="form-control form-control-lg" placeholder="Usuário" required />
                </div>
                <div class="mb-4">
                    <input name="pass" type="password" class="form-control form-control-lg" placeholder="Senha" required />
                </div>
                <input name="submit" type="submit" class="form-control form-control-lg" value="Entrar" />
                </div>
            </form>
        </div>
    </div>
</main>