<header class="cnx-page-header sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a href="{{ host }}" class="navbar-brand">
                <img src="{{ host }}assets/images/brand.png" alt="Logo" class="img-fluid" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="{{ host }}register/institution" class="cnx-header-link nav-link">Sou Instituição</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ host }}register/volunteer" class="cnx-header-link nav-link">Sou Pessoa</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ host }}register/partner" class="cnx-header-link nav-link">Sou Parceiro</a>
                    </li>
                </ul>
                <a href="{{ host }}login" class="cnx-primary-button btn">Login</a>
            </div>
        </div>
    </nav>
</header>