<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="msapplication-TileColor" content="#DA532C" />
        <meta name="msapplication-config" content="{{ host }}assets/images/icons/favs/browserconfig.xml" />
        <meta name="theme-color" content="#FFFFFF" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ host }}assets/images/icons/favs/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ host }}assets/images/icons/favs/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="{{ host }}assets/images/icons/favs/favicon-16x16.png" />
        <link rel="manifest" href="{{ host }}assets/images/icons/favs/site.webmanifest" />
        <link rel="mask-icon" href="{{ host }}assets/images/icons/favs/safari-pinned-tab.svg" color="#5BBAD5" />
        <link rel="shortcut icon" href="{{ host }}assets/images/icons/favs/favicon.ico" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ host }}assets/styles/default.css" />
        <title>{{ title }}</title>
    </head>
    <body>