@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

/**
 * Variáveis
 */
:root {
    --primary-color: #9955FF;
    --secondary-color: #7137C8;
}

html, body {
    font-family: 'Nunito', 'sans-serif';
}

/**
 * Home
 */
.cnx-banner-container {
    background: url('../images/banners/main.png') no-repeat var(--primary-color);
    background-size: cover;
    padding: 9rem 0 5.4rem 5rem;
}

.cnx-banner-container p {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 45px;
}

.cnx-banner-container strong {
    font-weight: 800;
}

.cnx-banner-container .btn {
    background: #FFFFFF;
    border: none;
    color: var(--primary-color);
    font-size: 1.5rem;
    padding: 0.5rem 1.1rem;
}

.cnx-banner-container .btn:hover {
    background: var(--secondary-color);
    color: #FFFFFF;
}

/**
 * Login e Cadastro
 */
.cnx-page-login, .cnx-page-register {
    background: #EEEEEE;
}

.cnx-page-register {
    padding: 50px 0;
}

/**
 * Seções
 */
.cnx-section-brand {
    max-width: 300px;
}

.cnx-section-title {
    color: var(--primary-color);
    margin: 30px auto;
    text-align: center;
}

.cnx-primary-button {
    background: var(--primary-color);
    color: #FFFFFF;
}

.cnx-primary-button:hover {
    background: var(--secondary-color);
    color: #FFFFFF;
}

.cnx-primary-button:focus {
    box-shadow: 0 0 5px var(--primary-color);
}

/**
 * Formulários
 */
.cnx-form-container {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    padding: 70px 60px;
}

.cnx-form-container input,
.cnx-form-container textarea,
.cnx-form-container select,
.cnx-timeline-search input {
    border: solid 1px var(--primary-color);
    color: #777777;
}

.cnx-form-container input:focus,
.cnx-form-container textarea:focus,
.cnx-form-container select:focus,
.cnx-timeline-search input:focus {
    border: solid 1px var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
    outline: none;
}

.cnx-form-container textarea {
    width: 100%;
}

.cnx-form-container input[type=submit],
.cnx-timeline-search input[type=submit] {
    color: #FFFFFF;
    background: var(--primary-color);
}

.cnx-form-container input[type=submit]:hover,
.cnx-timeline-search input[type=submit]:hover {
    background: var(--secondary-color);
}

/**
 * Header
 */
.cnx-page-header {
    background: #FFFFFF;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    padding: 15px 0;
}

.cnx-page-header nav {
    background: inherit !important;
}

.cnx-page-header img {
    height: 2.5rem;
}

.cnx-page-header a {
    font-size: 1.2rem;
}

.cnx-header-link:hover {
    color: var(--primary-color) !important;
}

.cnx-header-profile {
    font-size: 1.2rem;
}

/**
 * Footer
 */
.cnx-page-footer {
    background: var(--primary-color);
    color: #FFFFFF;
    font-size: 1.2rem;
    padding: 1.5rem;
    text-align: center;
}

.cnx-page-footer a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.cnx-page-footer a:hover {
    text-decoration: underline;
}

/**
 * Timeline
 */
.cnx-section-timeline {
    background: #EEEEEE;
    padding: 0 0 60px 0;
}

.cnx-section-timeline .cnx-section-title {
    font-weight: 800;
    margin-top: 50px;
}

.cnx-section-timeline .cnx-section-card {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    margin-top: 30px;
    padding: 0.5rem;
}

.cnx-section-timeline .cnx-section-card:hover {
    box-shadow: 0 0 5px var(--primary-color);
}

.cnx-section-timeline a,
.cnx-section-timeline button {
    background: #FFFFFF;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    float: right;
}

.cnx-section-timeline a:hover,
.cnx-section-timeline button:hover {
    background: var(--primary-color);
    color: #FFFFFF;
}

.cnx-section-timeline a:focus
.cnx-section-timeline button:focus {
    box-shadow: 0 0 5px var(--primary-color);
}

/**
 * Search
 */
.cnx-timeline-search
{
    background: #DDDDDD;
    padding: 50px 0 30px 0;
}